@import "../../styles/variables.scss";
.student{
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid $bordergrey;
    &__image{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: 1px solid $bordergrey;;
        margin-right: 1rem;
    }
    & h1{
        margin-block-start: 0;
        line-height: 2rem;
    }
    &__info{
        &__data{
            padding-left: 1rem;
        }
    }
    &:last-child{
        border-bottom: none;
    }
}